@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf) format('truetype');
}

* {
    font-family: "Montserrat", sans-serif;
}

[class*=container] {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}
